# Compiled class files
*.class

# Project-specific artifacts
target/
.classpath
.project
.settings/
.factorypath
.loadpath
.metadata/
*.iml
.idea/

# Maven-related files
pom.xml.tag

# Eclipse-specific files
*~
.java-version

# Logs and temporary files
*.log
*.lock
*.tmp
*.swp
.DS_Store

